In [2]:
## 1.what is list ? how will you reverse a list?

## A list is a data structure in python that is mutable, changeable,ordered sequence of elements.
## using reverse method ,slicing method ex:
l1=[1,2,3,4,5,6,7]
##l1.reverse()
print(l1)
l2=l1[::-1]
print(l2)

[1, 2, 3, 4, 5, 6, 7]
[7, 6, 5, 4, 3, 2, 1]

In [10]:
## 2.How will you remove last object from a list?

l1=["shail","heli","heta","hem","div"]
l2=l1.pop()
print(l2)
print(l1)

div
['shail', 'heli', 'heta', 'hem']

In [11]:
## 3.Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [-1]?

l1 = [2,33,222,14,25]
l1[-1]

25

In [12]:
## 4Differentiate between append () and extend () methods? add the values

# 1. Aappend function in python adds a single element to the end of the list,
#    Extend function in a python adds multiple elements from an itereble to the list.

# 2. append takes single element as an argument
#    extend takes itetable as an argument
#ex:append
l1=[2,'hem','shail',[44,66],45]
l1.append(56)
l1

[2, 'hem', 'shail', [44, 66], 45, 56]

In [13]:
#ex: extend

l1=[2,'hem','shail',[44,66],45]
l1.extend([3,"aim",34])
l1

[2, 'hem', 'shail', [44, 66], 45, 3, 'aim', 34]

In [16]:
##5.Write a Python function to get the largest number, smallest num and sum 
#of all from a list.

#largest number
l1=[1,22,4,46,67,9]
print(max(l1))
minn=min(l1)
print(minn)
summ=sum(l1)
print(summ)

67
1
149

In [26]:
## 6. how will you compare two list

l1=[11,12,4,46,5]
l2=[11,12,4,46,5]

l11=sorted(l1)
l22=sorted(l2)
print(l11)
print(l22)
if(l11==l22):
    print("equal")
else:
    print("not equal")

[4, 5, 11, 12, 46]
[4, 5, 11, 12, 46]
equal

In [29]:
## 7.Write a Python program to count the number of strings where the string 
#length is 2 or more and the first and last character are same from a given 
#list of strings. 
words= ['hell','lshail','matam','kaya','hh']
count=0
for word in words:
    if len(word)>2 and word[0]==word[-1]:
        count+=1
print('The first and last character string is',count)

the first and last character string is 2

In [16]:
##8.Write a Python program to remove duplicates from a list.

l1=[10,20,20,30,50,40]

l=set(l1)
print(l)

{40, 10, 50, 20, 30}

In [17]:
#9) write a python program to chack a list is empty or not.

list1=[]

if len(list1)==0:
    print("the list is empty")
else:
    print("the list is not empty")

the list is empty

In [8]:
##10.Write a Python function that takes two lists and returns true if they have 
#at least one common member.
def common_data(list1,list2):
    result=False
    
    for i in list1:
        for j in list2:
            if(i==j):
                result=True
                return result


common_data([1,2,3,4,5],[5,6,7,8,9])

True

In [10]:
## 11.Write a Python program to generate and print a list of first and last 5 
#elements where the values are square of numbers between 1 and 30.

def squre_value():
    l=list()
    for i in range(1,31):
        l.append(i**2)
    print(l[:5])
    
    print(l[-5:])
squre_value()

[1, 4, 9, 16, 25]
[676, 729, 784, 841, 900]

In [12]:
## 13.Write a Python function that takes a list and returns a new list with unique elements of the first list.
def unique_list(l):
    x=[]
    for i in l:
        if i not in x:
            x.append(i)
            
    return x
unique_list([2,5,6,7,5,4,3,8,9,2,8,8,9,9])

[2, 5, 6, 7, 4, 3, 8, 9]

In [13]:
##Write a Python program to convert a list of characters into a string.

list1=('h','e','l','i')
list2=''.join(list1)
list2

'heli'

In [14]:
##Write a Python program to select an item randomly from a list.

import random
color_list = ['Red', 'Blue', 'Green', 'White', 'Black']
print(random.choice(color_list))

Black

In [20]:
##Write a Python program to find the second smallest number in a list.
# Python prog to illustrate the following in a list
def find_len(list1):
    length = len(list1)
    list1.sort()
    print("Largest element is:", list1[length-1])
    print("Smallest element is:", list1[0])
    print("Second Largest element is:", list1[length-2])
    print("Second Smallest element is:", list1[1])


list1=[56,95,42, 4, 33,22,55, 6, 14]
Largest = find_len(list1)

Largest element is: 95
Smallest element is: 4
Second Largest element is: 56
Second Smallest element is: 6

In [21]:
## 18.Write a Python program to check whether a list contains a sub list.

def is_sublist(l, s):
    sub_set = False
    if s == []:
        sub_set = True
    elif s == l:
        sub_set = True
    elif len(s) > len(l):
        sub_set = False

    else:
        for i in range(len(l)):
            if l[i] == s[0]:
                n = 1
                while (n < len(s)) and (l[i+n] == s[n]):
                        n += 1
                        if n == len(s):
                            sub_set = True
                            
    return sub_set

l = [1, 2, 3, 4, 5]
s = [2, 3]
print(is_sublist(l,s))


l = ['a', 'b', 'c', 'd']
s = ['b', 'c', 'e']
print(is_sublist(s,l))

True
False

In [5]:
##19.Write a Python program to split a list into different variables.

fruit=[("mango"),("cherry"),"apple"]
var1,var2,var3=fruit
print(var1)
print(var2)
print(var3)

mango
cherry
apple

In [ ]:
#20.What is tuple? Difference between list and tuple.

#->tuple are multiple items in a singal variable in one store.
#->tuple and kry differnce of key and tuple are immmuatable while list is mutable.
#->tuples are also more memmory efficient than the list

In [10]:
#21.Write a Python program to create a tuple with different data types.

tup=("hem",True,'shail',5.7,85)
print(tup)

('hem', True, 'shail', 5.7, 85)

In [14]:
#21.Write a Python program to create a tuple with numbers.

t1=(23,35,65,34,8)
print(t1)

(23, 35, 65, 34, 8)

In [17]:
#22.Write a Python program to convert a tuple to a string.

tuple1=['h','e','m','l','t','a','ko','s','m','b','i','a'] 
str1= ''.join(tuple1)
print(str1)

hemltakosmbia

In [19]:
#23.Write a Python program to check whether an element exists within a tuple.

tuple=("hem","lata",66,7.8)
print("hem" in tuple)
print("hnj" in tuple)
print(66 in tuple)

True
False
True

In [20]:
#24.Write a Python program to find the length of a tuple.

tuple="kosambiya"
count=0
while tuple[count:]:
    count=count+1
print(count)

9

In [43]:
#25.Write a Python program to convert a list to a tuple.

l=["h","e","m"]
print(l)
t=(*l,)
print(t)

['h', 'e', 'm']
('h', 'e', 'm')

In [58]:
#26.Write a Python program to reverse a tuple.

tup1= (1,2,2,3,4,5,6,7)
tup2=tup1[::-1]

print(tup2)

(7, 6, 5, 4, 3, 2, 2, 1)

In [61]:
##.Write a Python program to replace last value of tuples in a list.

l = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
##print([f[:-1] + (100,) for f in l ])
print([(*t[:-1],5) for t in l])

[(10, 20, 5), (40, 50, 5), (70, 80, 5)]